services:
  mongo:
    image: mongo:7
    container_name: carRental-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  server:
    build: ./server
    container_name: carRental-server
    
    env_file:
      - ./server/.env

    depends_on:
      - mongo
     
    ports:
      - "3000:3000"

  client:
    build: ./client
    container_name: carRental-client
    depends_on:
      - server
    ports:
      - "5173:80"

volumes:
  mongo-data:

