@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

/* GLOBAL FONT */

* {
  font-family: "Outfit", sans-serif;
}

/* COLOR VARIABLES */

@theme {
  --color-primary: #c6a96b;
  --color-primary-dark: #a8894e;

  --color-dark: #0f1115;
  --color-dark-soft: #161a20;

  --color-text-main: #e5e5e5;
  --color-text-muted: #9ca3af;

  --color-border: #2a2f36;
}

/* BUTTON EFFECT */

button {
  transition: all 0.25s ease;
}

button:hover {
  transform: scale(1.06);
  box-shadow: 0 10px 25px rgba(198, 169, 107, 0.35);
}

/* MARQUEE */

@keyframes marqueeScroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  display: flex;
  min-width: 200%;
  animation: marqueeScroll 30s linear infinite;
}

.marquee.reverse {
  animation-direction: reverse;
}
